.libro {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 200;
    color: #ffffff;
}
.titulolibro{
    background-color: #000000;
    padding: 20px;
    background-color: #000000;
    padding: 2%; /* Ajusta el padding en porcentaje para mayor adaptabilidad */
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    color: #fbe7c5;
    font-size: 35px;
    font-family: "Laski";
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

}
h1 {
    text-align: center;
    color: #D5352D;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

p.concepto {
    font-weight: bold;
    font-size: 15px;
    text-align: center;

}

label {
    font-weight: bold;
}

select, input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.grupo {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #fff;
    margin: 5px;
}

.descripcion {
    resize: vertical;
}
.centrar-botones {
    text-align: center
}

button {
    background-color: red;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: cadetblue;
}
.boton-enviar-reclamacion {
    background-color: #ff0000; /* Cambia el color de fondo del botón */
    color: #fff; /* Cambia el color del texto del botón */
    padding: 10px 20px; /* Ajusta el padding para cambiar el tamaño del botón */
    border: none; /* Elimina el borde del botón */
    border-radius: 5px; /* Agrega esquinas redondeadas al botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}


.button-form{
    display: block;
    margin: 0;
    text-align: center;
    max-width: 20%;
}