body{
    font-family: Arial, sans-serif;
    background-color: #FDF6E9;
}

@media (max-width: 768px) {
    .historia {
        font-size: 30px; /* Tamaño de fuente para pantallas pequeñas*/
    }

    .cont {
        font-size: 18px; /* Tamaño de fuente para pantallas pequeñas */
    }
}

.historia {
    background-color: #000000;
    padding: 20px;
    background-color: #000000;
    padding: 2%; /* Ajusta el padding en porcentaje para mayor adaptabilidad */
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    color: #fbe7c5;
    font-size: 35px;
    font-family: "Laski";
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
/*
.cont {
    display: flex;
    max-width: 800px;
    font-family: Arial;
    margin: 20px auto;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 30px;
    font-size: 25px;
}*/

.cont{
    width: 100%;
    max-width: 1000px;
    margin: 25px auto;
    padding: 25px;
    background: white;
    font-size: 20px;
    color: #444444;
    line-height: 22px;
    margin-bottom: 50px;
    margin-top: 50px;
}


p {
    color: #666;
    text-align: justify;
    line-height: 1.5;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Establece la relación de aspecto del video (16:9) */
    padding-top: 30px;
    height: 0;
    overflow: hidden;

}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
}




