@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #c7a17a;
    --background-color: #f9f5f0;
    --dark-color: #151515;
}
.container-navbar.scrolled{
    background-color: #BF2F28;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */
.container {
    max-width: 120rem;
    margin: 0 auto;
}

.heading-1 {
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}

.header {
    position: sticky;
    top: 0px;
    z-index: 1000;
}

.container-hero {
    background-color: #D5352D;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.customer-support {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: white;
}

.customer-support i {
    font-size: 3.3rem;
}

.content-customer-support {
    display: flex;
    flex-direction: column;
}

.container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100px;
    height: 30px; /* Ajusta la altura según tus necesidades */
}

.container-logo img.logo {
    max-width: 99%;
}


.container-user {
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.container-user .fa-user {
    font-size: 3rem;
    color: #F1AC20;
    padding-right: 2.5rem;
    border-right: 0.5px solid #e2e2e2;
}

.container-user .fa-user:hover {
    color: white;
}
.container-user .fa-basket-shopping {
    font-size: 3rem;
    color: #F1AC20;
    padding-left: 1rem;
}
.container-user .fa-basket-shopping:hover {
    color: white;
}
.content-shopping-cart {
    color: white;
    display: flex;
    flex-direction: column;
}

/* ************* NAVBAR ************* */

.container-navbar {
    background-color: #BF2F28;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.navbar .fa-bars {
    display: none;
    
}

.menu {
    display: flex;
    gap: 2rem;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}
/*
.menu a::after {
        content: '';
        width: 1.5rem;
        height: 1px;
        background-color: #F2B61B;
        position: absolute;
        bottom: -3px;
        left: 50%;
        transform: translate(-50%, 50%);
        opacity: 0;
        transition: all 0.3s ease;
}

.menu a:hover::after {
        opacity: 1;
}
*/
@media screen and (min-width: 769px) {
    .menu-movil {
        display: none !important; /* ¡Usa !important para asegurar que se aplique! */
    }

}
.menu-hambur a::after {
    display: none;
    content: '';
    width: 1.5rem;
    height: 1px;
    background-color: #F2B61B;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 50%);
    
}

.menu-hambur:hover::after {
    opacity: 1;
}

.menu a:hover {
    color: #F2B61B;
}

.menu-movil {
    left: 0;
    max-width: 350px;
    position: fixed;
    display: flex;
    z-index: 10;
    flex-direction: column;
    top: 0;
    background: #232323;
    width: 95%;
    height: 100%;
    overflow-y: auto;
    padding: 60px 30px 30px 30px;
    align-items: flex-start;
    margin: 0;

}

.menu-movil li{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    color: white;
    margin: 20px;
    font-size: 15px;
}

.menu-movil li a{
    text-decoration: none;
    color: white;

}

.close-menu::before{
    content: "\00d7"
}

.close-menu{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;

}

.menu-movil .active{
    left: 0;
    transition: all 0.15s ease;
}
/*
.menu-movil{
  margin-top:0;
  padding: 0;
  width: 200px;
}


.menu-movil li {
  display: block;
  background: lightgrey;
  margin: 0;
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid grey;
}
*/

/*Estilo cuando el mouse pasa encima de cada link del menu*/
li:hover {
    filter: brightness(110%);
}


.search-form {
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 2rem;
    background-color: #fff;
    height: 4.4rem;
    overflow: hidden;
}

.search-form input {
    outline: none;
    font-family: inherit;
    border: none;
    width: 25rem;
    font-size: 1.4rem;
    padding: 0 2rem;
    color: #777;
    cursor: pointer;
}

.search-form input::-webkit-search-cancel-button {
    appearance: none;
}

.search-form .btn-search {
    border: none;
    background-color: #F2B61B;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
}

.btn-search i {
    font-size: 2rem;
    color: #fff;
}

/*stye to btn close*/
p.close-btn{
    top: -4px;
    right: 6px;
    cursor: pointer;
    color: #000;
}

.cart-contenedor-platos{
    position: absolute!important;
    top: 82px;
    right: -18px;
    background-color: #fff;
    padding: 0 18px;
    box-shadow: 0px 0px 10px #333;
    display: none;            
    min-width: 300px;
}

/* ********************************** */
/*       MEDIA QUERIES -- 768px       */
/* ********************************** */
@media (max-width: 768px) {
    html {
        font-size: 55%;
    }

    .hero {
        padding: 2rem;
    }

    .customer-support {
        display: none;
    }

    .content-shopping-cart {
        display: none;
    }

    .navbar {
        padding: 1rem 2rem;
    }

    .navbar .fa-bars {
        display: block;
        color: #fff;
        font-size: 3rem;
    }

    .menu-movil{
        display: none;
    }

    .menu {
        display: none;
    }

    .content-banner {
        max-width: 50rem;
        margin: -100px auto;
        padding: 25rem 0;
        
    }

    .container-features {
        grid-template-columns: repeat(2, 1fr);
        padding: 3rem 2rem;
    }

    .card-feature {
        padding: 2rem;
    }

    .heading-1 {
        font-size: 2.4rem;
    }

    .card-category {
        height: 12rem;
    }

    .card-category p {
        font-size: 2rem;
        text-align: center;
        line-height: 1;
    }

    .card-category span {
        font-size: 1.4rem;
    }

    .container-options {
        align-items: center;
    }

    .container-options span {
        text-align: center;
        padding: 1rem 2rem;
    }

    .container-products {
        grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    }

    .gallery {
        grid-template-rows: repeat(2, 15rem);
    }

    .container-blogs {
        overflow: hidden;
        grid-template-columns: 1fr 1fr;

        height: 52rem;
    }

    .menu-footer {
        grid-template-columns: repeat(2, 1fr);
    }

    .copyright {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
}

/* ********************************** */
/*       MEDIA QUERIES -- 468px       */
/* ********************************** */
@media (max-width: 468px) {
    html {
        font-size: 42.5%;
    }

    .content-banner {
        max-width: 50rem;
        padding: 22rem 0;
        margin: -100px auto;
    }

    .heading-1 {
        font-size: 2.8rem;
    }

    .card-feature {
        flex-direction: column;
        border-radius: 2rem;
    }

    .feature-content {
        align-items: center;
    }

    .feature-content p {
        font-size: 1.4rem;
        text-align: center;
    }

    .feature-content span {
        font-size: 1.6rem;
        text-align: center;
    }

    .container-options span {
        font-size: 1.8rem;
        padding: 1rem 1.5rem;
        font-weight: 500;
    }

    .container-products {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 1rem;
    }

    .container-img .discount {
        font-size: 2rem;
    }

    .content-card-product h3 {
        font-size: 2.2rem;
    }

    .gallery {
        grid-template-rows: repeat(2, 20rem);
    }

    .blogs {
        padding: 2rem;
    }

    .container-blogs {
        grid-template-columns: 1fr;
        height: 75rem;
    }

    .content-blog h3 {
        font-size: 2.4rem;
    }

    .content-blog span {
        font-size: 1.8rem;
    }

    .content-blog p {
        font-size: 2.2rem;
    }

    .btn-read-more{
        font-size: 1.8rem;
    }

    .contact-info ul,
    .information ul,
    .my-account ul{
        display: none;
    }

    .contact-info {
        align-items: center;
    }

    .menu-footer{
        grid-template-columns: 1fr;
    }

    .content p{
        font-size: 1.6rem;
    }
}